// Font Family
$font-family: 'Arial, sans-serif';

// Colors
$blue-color: #000040;
$black-color: #000;
$white-color: #fff;
$gray-color: #a3a3a3;

// Font Weights
$normal: 500;
$semi-bold: 550;
$bold: 700;

// Font Sizes
$small: 1rem;
$medium: 2rem;
$large: 3rem;

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

// Border Radius
$border-radius: 4px;

// Box Shadows
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
