// Font Family
$font-default: "Satoshi", sans-serif;

// Colors
$blue-color: #000040;
$blue-color-strong: #000030;
$black-color: #000;
$white-color: #fff;
$gray-color: #a3a3a3;
$border-color: #e5e7eb;
$gray-light-color: #f3f4f6;

// Font Size
$large: 1.725rem;
$medium: 1.125rem;

// Font Weights
$normal: 500;
$semi-bold: 550;
$bold: 650;

// Border Radius
$radius-image: 10px;
$radius-button: 25px;

// Box Shadows
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
