// Font-Family
$font-default: "Satoshi", sans-serif;

// Colors
$blue-color: #000040;
$blue-strong-color: #0D1317;
$red-color: #ff5045;
$black-color: #0A0909;
$white-color: #fff;
$gray-color: #929e99;
$light-blue: rgba(100, 149, 237, 0.1);

// Font-Sizergba(35, 45, 62, 0.1)
$size-extra-large: 3rem;
$size-large: 2.725rem;
$size-extra-medium: 1.925rem;
$size-medium: 1.325rem;
$size-normal: 1.125rem;
$size-small: 1.025rem;
$size-extra-small: 0.925rem;

// Font-Weight
$weight-light: 400;
$weight-normal: 500;
$weight-medium: 600;
$weight-bold: 700;

// Border-Radius
$radius-medium: 10px;
$radius-large: 25px;

// Box-Shadows
$box-shadow-normal: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;