@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.btn {
  font-family: $font-default;
  font-weight: $weight-medium;
  margin-bottom: 1.075rem;
  padding: 0.875rem;
}

.btn1 {
  border-radius: $radius-medium;
  background-color: $blue-color;
  color: $white-color;
}

.btn2 {
  @include hover-pointer;
  color: $blue-color;
  border: 1px solid $blue-color;
  border-radius: 15px;
  background-color: $white-color;
  &:hover {
    background-color: $blue-color;
    color: $white-color;
  }
}

.btn3 {
  background-color: $white-color;
  border: 1px solid red;
}

.btn4 {
  @include hover-pointer;
  color: $black-color;
  border: 1px solid $blue-color;
  &:hover {
    background-color: $blue-color;
    color: $white-color;
  }
}
