@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.container {
  @include display-flex;
  padding: 0 2.075rem;
  flex-direction: column;
  background-color: $white-color;
  color: $black-color;
  border-radius: $radius-medium;
  margin-bottom: 4.075rem;
  text-align: center;
  @media (max-width: 880px) {
    width: 100%;
    margin-bottom: 2.075rem;
  }
  .img {
    width: 60px;
    margin-bottom: 0.375rem;
    height: 60px;
    @media (max-width: 880px) {
      margin-bottom: 0.875rem;
    }
  }
  .subtitle {
    font-size: $size-large;
    font-weight: $weight-medium;
    margin-bottom: 0.875rem;
    @media (max-width: 880px) {
      font-size: $size-medium;
      line-height: 1.575rem;
      margin-bottom: 0.875rem;
    }
  }
  .paragraph {
    font-size: $size-normal;
    font-weight: $weight-normal;
    margin-bottom: 2.475rem;
    line-height: 1.075rem;
    @media (max-width: 880px) {
      font-size: $size-small;
      line-height: 1.175rem;
      margin-bottom: 1.475rem;
    }
  }
  .icons-section {
    @include display-flex;
    gap: 1.575rem;
    margin: 1.075rem 0 2.475rem 0;
    .icon {
      background-color: $gray-light-color;
      color: $blue-strong-color;
      font-size: 3.875rem;
      border-radius: 50%;
      padding: 1.075rem;
      @media (max-width: 880px) {
        font-size: 2.375rem;
        padding: 0.475rem;
      }
    }
  }
}
