.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  .image-section {
    img {

    }
  }
  .text-section {
    display: flex;
    flex-direction: column;
    gap: 18px;
    .title {
      font-size: 1.8rem;
    }
    .subtitle {
    }
  }
}
