@import "../../styles/base/variables.scss";
@import "../../styles/utils/mixins.scss";

.container {
  background-color: $blue-strong-color;
  color: $white-color;
  margin: 0 0 7.075rem 0;
  @media (max-width: 780px) {
    margin: 0 auto 5.075rem auto;
  }
  .box-container {
    @include container-center;
    @include display-flex;
    padding: 6.575rem 2.075rem;
    @media (max-width: 880px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .image-section {
      width: 100%;
      margin-right: 4.075rem;

      @media (max-width: 880px) {
        margin-right: 0rem;
      }
      .img {
        border-radius: $radius-medium;
        @media (max-width: 880px) {
          display: none;
        }
      }
    }
    .text-section {
      width: 100%;
      .title {
        font-size: $size-extra-medium;
        font-weight: $weight-medium;
        line-height: 1.975rem;
        margin: 0rem 0 1.075rem 0;
        @media (max-width: 1024px) {
          font-size: $size-normal;
          line-height: 1.575rem;
        }
      }
      .subtitle {
        font-size: $size-normal;
        font-weight: $weight-light;
        margin-bottom: 2.075rem;
        line-height: 1.475rem;
        @media (max-width: 1024px) {
          font-size: $size-small;
        }
      }
    }
  }
}
