@import "../../styles/base/variables.scss";

.container {
  background-color: #0D1317;
  color: $white-color;
  margin: 0rem 0 7rem 0;
  @media (max-width: 780px) {
    margin: 0 auto 5rem auto;
  }
  .box-container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:6rem 2rem;
    @media (max-width: 880px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .image-section {
      width: 100%;
      margin-right: 4rem;
      border-radius: 8px;
      @media (max-width: 880px) {
        margin-right: 0rem;
      }
      .img {
        @media (max-width: 880px) {
          display: none;
        }
      }
    }
    .text-section {
      width: 80%;
      .title {
        font-size: $large;
        font-weight: $bold;
        line-height: 2rem;
        margin: 0rem 0 1rem 0;
        @media (max-width: 1024px) {
          font-size: 1.275rem;
          line-height: 1.5rem;
        }
      }
      .subtitle {
        font-size: $medium;
        margin-bottom: 2rem;
        line-height: 1.5rem;
        @media (max-width: 1024px) {
          font-size: 1.075rem;
        }
      }
    }
  }
}
