@import "../../styles/base/variables.scss";

.container {
  margin: 0 auto 7rem 0;
  padding: 0 2rem;
  .title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 650;
    line-height: 2.575rem;
  }
  .image-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 2.5rem;
    img {
   
      width: 180px;
      padding: 0.25rem 3rem;
    }
  }
}
