@import "../../styles/base/variables.scss";
@import "../../styles/utils/mixins.scss";

.container {
  margin: 0 auto 6.775rem auto;
  padding: 0 2rem;
  .title {
    font-size: $size-large;
    font-weight: $weight-medium;
    text-align: center;
    line-height: 2.775rem;
    @media (max-width: 880px) {
      font-size: $size-extra-medium;
      line-height: 1.975rem;
    }
    @media (min-width: 880px) and (max-width: 1280px) {
      font-size: $size-extra-medium;
    }
  }
  .image-section {
    @include display-flex;
    flex-wrap: wrap;
    margin-top: 3.075rem;
    gap: 2.575rem;
    .img {
      width: 180px;
      padding: 0.2575rem 3.075rem;
    }
  }
}
