@import "../../../styles/base/variables.scss";
@import "../../../styles/utils/mixins.scss";

.container {
  @include container-center(1280px, 0 auto 7.075rem auto);
  @include display-flex;
  gap: 2.575rem;
  padding: 0 2.075rem;
  @media (max-width: 880px) {
    flex-direction: column;
    margin: 0 auto 3.075rem auto;
  }
  .image-section {
    width: 100%;
    .img {
      border-radius: $radius-medium;
      @media (max-width: 880px) {
      }
    }
  }
  .text-section {
    width: 100%;
    .title {
      font-size: $size-extra-medium;
      font-weight: $weight-medium;
      margin: 0rem 0 1.075rem 0;
      @media (max-width: 880px) {
        font-size: $size-normal;
      }
    }
    .subtitle {
      font-size: $size-normal;
      font-weight: $weight-light;
      margin-bottom: 1.575rem;
      line-height: 1.375rem;
      @media (max-width: 880px) {
        font-size: $size-small;
      }
    }
  }
}
