@import "../../../styles/base/variables.scss";
@import "../../../styles/utils/mixins.scss";

.input-normal {
  font-family: $font-default;
  font-size: $size-small;
  border-radius: 15px;
  display: flex;
  margin: 0.775rem 0;
  padding: 0.675rem 1rem;
}
