@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.container {
  @include display-flex;
  padding: 5.575rem 0 0 2.075rem;
  gap: 2.575rem;
  @media (max-width: 880px) {
    flex-direction: column;
    margin: 0rem auto 3.275rem auto;
    padding: 7.575rem 0 0 2.075rem;
    gap: 1.075rem;
  }
  .image-section {
    width: 115%;
    @media (max-width: 880px) {
      display: none;
    }
    @media (min-width: 881px) and (max-width: 1044px) {
      display: none;
    }
    .img {
      border-radius: 1px;
    }
  }
  .text-section {
    width: 85%;
    @media (min-width: 881px) and (max-width: 1044px) {
      padding-top: 2.075rem;
      padding-right: 3.075rem;
      width: 100%;
    }
    @media (max-width: 880px) {
      width: 100%;
      padding-right: 3.075rem;
    }
    .subtitle {
      font-size: $size-normal;
      font-weight: $weight-medium;
      margin-bottom: 0.575rem;
      margin-top: 0;
      @media (min-width: 881px) and (max-width: 1044px) {
        font-size: $size-normal;
        font-weight: $weight-medium;
      }
      @media (max-width: 880px) {
        font-size: $size-normal;
        font-weight: 450;
      }
    }
    .title {
      font-size: $size-large;
      font-weight: $weight-medium;
      margin: 0rem 0 1.075rem 0;
      line-height: 2.675rem;
      @media (min-width: 881px) and (max-width: 1044px) {
        font-size: $size-extra-medium;
        font-weight: $weight-medium;
        margin-bottom: 0.575rem;
      }
      @media (max-width: 880px) {
        font-size: $size-extra-medium;
        line-height: 2.075rem;
      }
    }
    .paragraph {
      @media (min-width: 881px) and (max-width: 1044px) {
        font-size: $size-small;
        line-height: 1.375rem;
        font-weight: $weight-light;
        margin-bottom: 1.575rem;
      }
      font-size: $size-normal;
      font-weight: $weight-light;
      margin-bottom: 2.075rem;
      line-height: 1.475rem;
    }
  }
}
