.container {
    background-color: #0d1317;
    color: #fff;
    .box-container {
        max-width: 1280px;
        margin: 0 auto;
        .box-text {

        }

        .box-carousel {

        }
    }
}