@import "../../../styles/base/variables.scss";
@import "../../../styles/utils/mixins.scss";

.container {
    background-color: #0d1317;
    color: #fff;
    .box-container {
        max-width: 1380px;
        margin: 0 auto;
        padding: 4rem 2rem;
        .box-text {
            .title {
                font-size: $size-large;
                font-weight: $weight-medium;
                line-height: 2.9rem;
                margin-top: 1.5rem;
                margin-bottom: 2rem;
            }
            .subtitle {
                font-size: $size-small;
                font-weight: $weight-normal;
                
            }
            .paragraph {
                margin-top: 1rem;
                font-size: 0.925rem;
            }
        }

        .box-carousel {

        }
    }
}