@import "../../../styles/base/variables.scss";
@import "../../../styles/utils/mixins.scss";

.container {
  color: $white-color;
  height: 100vh;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  @media (min-width: 625px) and (max-width: 994px) {
    height: 100vh;
  }
  @media (max-width: 624px) {
    height: 100vh;
  }
  .box-section {
    @include display-flex(center, space-between);
    @include container-center(1380px);
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100vw;
    top: 50%;
    left: 50%;
    padding: 0 2.075rem;
    @media (min-width: 625px) and (max-width: 994px) {
      @include display-flex(flex-start, flex-start);
      flex-direction: column;
      margin-top: 9.775rem;
    }
    @media (max-width: 624px) {
      @include display-flex(center, flex-start);
      flex-direction: column;
      margin-top: 11.575rem;
    }
    .text-section {
      gap: 8px;
      .subtitle {
        font-weight: $weight-normal;
        font-size: $size-medium;
        margin-bottom: 1.575rem;
        @media (min-width: 625px) and (max-width: 994px) {
          font-size: $size-small;
        }
        @media (max-width: 624px) {
          font-size: $size-extra-small;
          margin-bottom: 1.075rem;
        }
      }
      .title {
        font-size: $size-extra-large;
        font-weight: $weight-bold;
        line-height: 2.975rem;
        margin-bottom: 2.075rem;
        @media (min-width: 625px) and (max-width: 994px) {
          font-size: $size-large;
          line-height: 3.075rem;
        }
        @media (max-width: 624px) {
          font-size: $size-extra-medium;
          line-height: 2.175rem;
          margin-bottom: 1.075rem;
        }
      }
      .paragraph {
        font-weight: $weight-light;
        font-size: $size-extra-small;
        margin-top: 1.575rem;

        @media (max-width: 994px) {
          font-size: $size-extra-small;
        }
      }
      .paragraph-details {
        font-size: $size-normal;
        font-weight: $weight-normal;
        line-height: 1.375rem;
        margin-bottom: 2.075rem;
      }
    }
    .form-section {
      background-color: $white-color;
      border-radius: $radius-medium;
      padding: 1.275rem 1.275rem;
      margin-top: 5.875rem;
      width: 400px;
      @media (min-width: 625px) and (max-width: 994px) {
        margin-top: 2.375rem;
        padding: 1.275rem 0.875rem;
        width: 380px;
      }
      @media (max-width: 624px) {
        margin-top: 2.375rem;
        padding: 1.275rem 0.875rem;
        width: 310px;
      }
    }
  }
}
