@import "../../../styles/base/variables.scss";
@import "../../../styles/utils/mixins.scss";

.container {
  background-color: $light-blue;
  padding: 3.975rem 0;
  .box-container {
    @include container-center(1280px, 0 auto);
    @include display-flex(center, space-around);
    

    .title {
      font-size: $size-large;
      font-weight: $weight-medium;
      line-height: 2.675rem;
    }
    .box-section {

      .paragraph {
        font-size: $size-small;
        font-weight: $weight-medium;
        margin-bottom: 1.075rem;
      }
    }
  }
}
