@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.modal {
  background-color: $white-color;
  color: $black-color;
  border-radius: $radius-medium;
  text-align: center;
  @media (max-width: 880px) {
    width: 80%;
  }
  .modal-content {
    padding: 1.075rem 1.075rem 0rem 1.075rem;
    .title {
      font-size: $size-normal;
      font-weight: $weight-normal;
      margin-bottom: 1.075rem;
      line-height: 1.475rem;
      @media (max-width: 880px) {
        font-size: $size-small;
        line-height: 1.275rem;
      }
    }
    .subtitle {
      font-size: $size-extra-medium;
      font-weight: $weight-bold;
      margin-bottom: 0.275rem;
      @media (max-width: 880px) {
        font-size: $size-medium;
        line-height: 1.575rem;
        margin-bottom: 0.875rem;
      }
    }
    .paragraph {
      font-size: $size-small;
      font-weight: $weight-normal;
      margin-bottom: 1.475rem;
      line-height: 1.275rem;
      @media (max-width: 880px) {
        font-size: $size-extra-small;
        line-height: 1.175rem;
      }
    }
    .icons-section {
      @include display-flex;
      gap: 1.575rem;
      margin: 1.075rem 0 2.475rem 0;
      .icon {
        background-color: $gray-light-color;
        color: $blue-strong-color;
        font-size: $size-extra-large;
        border-radius: 50%;
        padding: 0.775rem;
        @media (max-width: 880px) {
          font-size: $size-medium;
          padding: 0rem;
        }
      }
    }
  }
}
