@import "../../../styles/base/variables.scss";
@import "../../../styles/utils/mixins.scss";

.container {
  @include container-center(1280px, 4.475rem auto 6.275rem auto);
  padding: 0 2.075rem;
  @media (max-width: 800px) {
    margin: 0rem auto 4.575rem auto !important;
  }
  .title {
    font-size: $size-large;
    font-weight: $weight-medium;
    margin-bottom: 3.075rem;
    text-align: center;
    @media (max-width: 800px) {
      font-size: $size-extra-medium;
      margin: 0.375rem 0 2.575rem 0;
      line-height: 2.1275rem;
      text-align: left;
    }
    @media (min-width: 801px) and (max-width: 1024px) {
      line-height: 2.675rem;
    }
  }

  .faq-section {
    background-color: $light-blue;
    box-shadow: $box-shadow-normal;
    border-radius: $radius-medium;
    padding: 1.275rem;
    margin-bottom: 1.075rem;
    @media (max-width: 800px) {
      line-height: 1.475rem;
    }
    .faq-question {
      @include hover-pointer;
      font-size: $size-normal;
      font-weight: $weight-normal;
      position: relative;
      margin: 0.275rem 0;
      padding-right: 4.075rem;

      &::after {
        content: "+";
        color: $blue-color;
        font-size: 1.475rem;
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        transition: all 0.2s ease;
      }
    }

    &.open .faq-question::after {
      content: "-";
    }

    .faq-answer {
      font-size: $size-normal;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height 0.4s ease, opacity 0.4s ease;
    }

    &.open .faq-answer {
      max-height: 1000px;
      opacity: 1;
      animation: expand 0.4s ease forwards;
    }

    &.closed .faq-answer {
      animation: collapse 0.4s ease forwards;
    }
  }

  .btn-section {
    @include display-flex;
    margin-top: 3.075rem;
  }
}

@keyframes expand {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 1000px;
    opacity: 1;
  }
}

@keyframes collapse {
  0% {
    max-height: 1000px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
}
