.container {
  max-width: 1280px;
  margin: 2rem auto;

  .title {
    font-size: 1.5rem;
    font-weight: 650;
    text-align: center;
  }

  .faq {
    margin: 15px;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

    .faq-question {
      position: relative;
      font-size: 20px;
      padding-right: 30px;
      transition: all 0.4s ease;
      margin-bottom: 15px;
      cursor: pointer;

      &::after {
        content: "+";
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        transition: all 0.2s ease;
      }
    }

    &.open .faq-question::after {
      content: "-";
    }

    .faq-answer {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height 0.4s ease, opacity 0.4s ease;
    }

    &.open .faq-answer {
      max-height: 1000px; /* Ajuste conforme necessário */
      opacity: 1;
      animation: expand 0.4s ease forwards;
    }

    &.closed .faq-answer {
      animation: collapse 0.4s ease forwards;
    }
  }
}

@keyframes expand {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 1000px; /* Ajuste conforme necessário */
    opacity: 1;
  }
}

@keyframes collapse {
  0% {
    max-height: 1000px; /* Ajuste conforme necessário */
    opacity: 1;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
}
