@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.container {
  .title {
    font-size: $size-extra-medium;
    font-weight: $weight-medium;
    padding: 1.075rem 1.575rem 0.775rem;
  }
  .btn-section {
    padding: 0 1.075rem;
    gap: 1.075rem;
    display: flex;
    flex-wrap: wrap;
  }
}
