@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

img {
  image-rendering: -webkit-optimize-contrast;
  /* Propriedade para melhorar o contraste e a qualidade da imagem */
  image-rendering: crisp-edges;
  /* Propriedade para tornar as bordas mais nítidas */
  image-rendering: optimizeQuality;
  /* Propriedade para otimizar a qualidade da imagem */
  image-rendering: smooth;
  /* Propriedade para suavizar a imagem */
  image-resolution: 300dpi;
  /* Definindo a resolução da imagem */
}

a {
  text-decoration: none;
}
