@import "../../styles/base/variables.scss";
@import "../../styles/utils/mixins.scss";

.container {
  @include container-center(1280px, 5.075rem auto 7.075rem auto);
  @include display-flex(flex-start, center);
  padding: 0 2.075rem;
  .text-section {
    width: 100%;
    .title {
      font-size: $size-large;
      font-weight: $weight-medium;
      line-height: 2.875rem;
      margin-bottom: 1.075rem;
    }
    .subtitle {
      font-size: $size-medium;
      font-weight: $weight-medium;
      line-height: 1.575rem;
      margin-bottom: 1.075rem;
    }
    .paragraph {
      font-size: $size-small;
      font-weight: $weight-normal;
      border-bottom: 1px solid $blue-strong-color;
      color: $blue-strong-color;
    }
  }
  .benefits-section {
    @include display-flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2.075rem;
    .box {
      background-color: #f3f4f9;
      border-radius: $radius-medium;
      padding: 2.075rem;
      width: 275px;
      height: 325px;

      .title {
        font-size: $size-small;
        font-weight: $weight-medium;
        margin: 1.075rem 0rem;
      }
      .paragraph {
        font-size: $size-extra-small;
        font-weight: $weight-normal;
      }
    }
  }
}
