@import "../../../styles/base/variables.scss";
@import "../../../styles/utils/mixins.scss";

.container {
  @include container-center(1280px, 7.075rem auto 6.75rem auto);
  padding: 0rem 2.075rem 0rem 2.075rem;

  .title-section {
    font-size: $size-large;
    font-weight: $weight-medium;
    text-align: center;
    line-height: 2.875rem;
  }
  .subtitle-section {
    font-size: $size-normal;
    font-weight: $weight-medium;
    margin-top: 0.925rem;
    text-align: center;
  }
  .box-section {
    @include display-flex(center, space-between);
    border: 2px solid $blue-color;
    margin-top: 2.575rem;
    margin-bottom: 4.575rem;
    gap: 2.075rem;
    padding: 1.075rem 1.575rem 1.075rem 1.575rem;
    border-radius: 10px;

    .title {
      @include hover-pointer;
      font-size: $size-normal;
      font-weight: $weight-normal;
      border-bottom: 2px solid $white-color;
      &:hover {
        border-bottom: 2px solid $blue-color;
      }
    }
  }
  .content-wrapper {
    display: flex;
    .content-text {
      width: 100%;
      padding-right: 4.075rem;
      .paragraph {
        font-size: $size-small;
        font-weight: $weight-normal;
        line-height: 1.4rem;
        margin-bottom: 2rem;
      }
    }
    .content-image {
      width: 100%;
      .img {
        border-radius: 2px;
      }
    }
  }
}
