@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.container {
  padding: 0 2.075rem;
  @include container(1080px, 2.275rem auto 4.075rem auto);
  .subtitle {
    font-size: $size-small;
    font-weight: $weight-normal;
    line-height: 1.375rem;
  }
  .introduction-title {
    font-size: $size-extra-medium;
    font-weight: $weight-medium;
    margin: 0.675rem 0 0.575rem 0;
    @media (max-width: 1124px) {
      font-size: $size-medium;
      line-height: 1.575rem;
    }
  }
  .list-section {
    padding-left: 2.575rem;
    .items {
      text-indent: 0.575rem;
      list-style: disc;
      font-weight: $weight-normal;
      margin-bottom: 0.575rem;
    }
  }
}
