@import "../../../styles/base/variables.scss";
@import "../../../styles/utils/mixins.scss";

.container {
  margin: 0 auto 1.5rem auto;
  position: relative;
  .subtitle-section {
    font-size: $size-normal;
    font-weight: $weight-normal;
    color: $blue-color;
    text-align: center;
    margin-bottom: 1.075rem;
    @media (max-width: 880px) {
      font-size: $size-normal;
    }
  }
  .title-section {
    font-size: $size-large;
    font-weight: $weight-medium;
    text-align: center;
    line-height: 2.875rem;
    margin-bottom: 3.575rem;
    @media (max-width: 880px) {
      font-size: $size-extra-medium;
      line-height: 2.275rem;
    }
  }
  .custom-arrow-left {
    @include display-flex;
    @include hover-pointer;
    background-color: $white-color;
    color: $blue-color;
    border: 2px solid $blue-color;
    position: absolute;
    right: 110px;
    bottom: 100%;
    transform: translateY(-50%);
    z-index: 2;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    &:hover {
      background-color: $blue-color;
      color: $white-color;
      border: 2px solid $blue-color;
    }
  }
  .custom-arrow-right {
    @include display-flex;
    @include hover-pointer;
    background-color: $white-color;
    color: $blue-color;
    border: 2px solid $blue-color;
    position: absolute;
    right: 45px;
    bottom: 100%;
    transform: translateY(-50%);
    z-index: 2;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    &:hover {
      background-color: $blue-color;
      color: $white-color;
      border: 2px solid $blue-color;
    }
  }
  .carousel-section {
    @include container-center(1480px, 0 auto);
    @media (max-width: 880px) {
      max-width: 340px !important;
      margin: 0 auto;
    }
    @media (min-width: 880px) and (max-width: 1280px) {
      max-width: 710px !important;
      margin: 0 auto;
    }
  }
}

.item {
  @include display-flex(flex-end, space-between);
  background-color: $white-color;
  color: $black-color;
  border: 1px solid $blue-color;
  border-radius: $radius-medium;
  flex-direction: column;
  width: 280px;
  height: 350px;
  padding: 3.075rem 2.075rem;
  .title {
    font-size: $size-normal;
    font-weight: $weight-normal;
    margin-bottom: 1.075rem;
  }
  .subtitle {
    font-size: $size-small;
    font-weight: $size-medium;
    line-height: 1.175rem;
  }
  .icon-section {
    text-align: right;
    .icon {
      font-size: $size-medium;
    }
  }
}
