.single-nav-item {
  position: relative;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;

  .item-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #a3a3a3;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: red;
    }

    .arrow-icon {
      font-size: 0.75rem;
      transition: transform 0.2s ease;
      &.rotate-180 {
        transform: rotate(180deg);
      }
    }
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: all 0.2s ease;

    .dropdown-link {
      display: flex;
      align-items: center;
      padding: 0.25rem 1.5rem;
      color: #a3a3a3;
      transition: color 0.2s ease;

      &:hover {
        color: rgba(0, 0, 0, 0.9);
      }

      .icon-image {
        margin-right: 0.5rem;
      }
    }
  }
}
