@import "../../../styles/base/variables.scss";

@import "../../../styles/utils/mixins.scss";
.navbar {
  @include display-flex(center, space-between);
  background-color: $white-color;
  font-weight: $medium;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 90px;
  z-index: 999;
  padding: 1.25rem 2.25rem;

  .left-section {
    @include display-flex(center, flex-start);
    gap: 2rem;

    .logo {
      width: 60px;
    }

    .nav-items {
      display: none;

      @media (min-width: 994px) {
        @include display-flex(center, flex-start);

        .nav-link {
          @include hover-pointer;
          position: relative;
          padding: 1rem 0.75rem;

          .link-text {
            @include display-flex(center, flex-start);
            color: $black-color;
            font-size: 1rem;
            gap: 0.5rem;

            .rotate-180 {
              transition: all 0.3s ease;
              transform: rotate(180deg);
            }
          }

          .dropdown {
            background-color: $white-color;
            flex-direction: column;
            position: absolute;
            display: none;
            left: 2.5rem;
            top: 2.5rem;
            gap: 0.5rem;
            padding: 1.275rem;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

            .dropdown-link {
              @include display-flex(center, flex-start);
              @include hover-pointer;
              color: $black-color;
              font-size: 1rem;
              padding: 0.25rem 0.5rem;

              &:hover {
                background-color: $blue-color;
                color: $white-color;
                border-radius: 0.2rem;
              }
  
             .link-label {
               white-space: nowrap;
                padding: 0 0.25rem;
              } 
            }
          }

          &:hover .dropdown {
            display: flex;
          }
        }

        .nav-link:hover .arrow-icon {
          transform: rotate(0deg);
        }

        .nav-link:hover .dropdown {
          display: flex;
        }
      }
    }
  }
  .right-section {
    align-items: center;
    display: none;

    .icon {
      font-size: 1.475rem;
      margin-right: 0.5rem;
    }
  
    @media (min-width: 994px) {
      display: flex;
    }
  }

  .menu-icon {
    cursor: pointer;
    display: block;
    font-size: 2rem;
  
    @media (min-width: 994px) {
      display: none;
    }
  }  
}

