@import "../../../styles/base/variables.scss";
@import "../../../styles/utils/mixins.scss";

.container {
  @include container-center(1280px, 2.075rem auto 6.275rem auto);

  .title {
    font-size: $size-large;
    font-weight: $weight-medium;
    margin-bottom: 3.075rem;
    text-align: center;
  }

  .faq-section {
    background-color: $white-color;
    box-shadow: $box-shadow-normal;
    border-radius: $radius-medium;
    margin: 1.075rem;
    padding: 1.275rem;

    .faq-question {
      @include hover-pointer;
      font-size: $size-normal;
      font-weight: $weight-normal;
      position: relative;
      margin: 0.275rem 0;

      &::after {
        content: "+";
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        transition: all 0.2s ease;
      }
    }

    &.open .faq-question::after {
      content: "-";
    }

    .faq-answer {
      font-size: $size-normal;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height 0.4s ease, opacity 0.4s ease;
    }

    &.open .faq-answer {
      max-height: 1000px;
      opacity: 1;
      animation: expand 0.4s ease forwards;
    }

    &.closed .faq-answer {
      animation: collapse 0.4s ease forwards;
    }
  }
}

@keyframes expand {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 1000px;
    opacity: 1;
  }
}

@keyframes collapse {
  0% {
    max-height: 1000px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
}
