.container {
  max-width: 1180px;
  margin: 11rem auto 9rem auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 2rem;
  .text-section {
    width: 100%;
    .title {
      font-size: 2.5rem;
      font-weight: 650;
      line-height: 2.4rem;
      margin-bottom: 1rem;
    }
    .subtitle {
      font-size: 1.175rem;
      font-weight: 450;
      line-height: 1.5rem;
      color: #929e99;
    }
  }
  .details-section {
    width: 100%;
    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
      .icon-section {
        margin-right: 1.5rem;
        color: #000040;
        font-size: 3rem;
      }
      .info-section {
        .title {
          font-size: 1.375rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }
        .subtitle {
          color: #929e99;
        }
      }
    }
  }
}
