.container {
  background-color: rgba(100, 149, 237, 0.1);
  .container-section {
    max-width: 1280px;
    margin: 7rem auto 8rem auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5rem 2rem;

    @media (max-width: 880px) {
      flex-direction: column;
      margin: 5rem auto 5rem auto;
    }
    @media (min-width: 880px) and (max-width: 1280px) {
      font-size: 1.175rem;
    }
    .text-section {
      width: 100%;
      .title {
        font-size: 2.5rem;
        font-weight: 650;
        line-height: 2.4rem;
        margin-bottom: 1rem;
        @media (max-width: 880px) {
          font-size: 1.8rem;
          line-height: 2rem;
        }
        @media (min-width: 880px) and (max-width: 1280px) {
          font-size: 2.2rem;
        }
      }
      .subtitle {
        font-size: 1.175rem;
        font-weight: 450;
        line-height: 1.5rem;
        color: #929e99;
        @media (max-width: 880px) {
          font-size: 1rem;
          line-height: 1.4rem;
        }
        @media (min-width: 880px) and (max-width: 1280px) {
          font-size: 1.1rem;
          line-height: 1.4rem;
        }
      }
    }
    .details-section {
      width: 100%;
      @media (max-width: 880px) {
        margin-top: 2rem;
      }
      .box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        .image-section {
          width: 200px;
          margin-right: 1.5rem;
          color: #000040;
          @media (max-width: 880px) {
            width: 130px;
          }
          @media (min-width: 880px) and (max-width: 1280px) {
            width: 150px;
          }
        }
        .info-section {
          .title {
            font-size: 1.375rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
            @media (min-width: 880px) and (max-width: 1280px) {
              font-size: 1.275rem;
            }
          }
          .subtitle {
            color: #929e99;
            font-size: 1.1rem;
            @media (min-width: 880px) and (max-width: 1280px) {
              font-size: 1.075rem;
            }
          }
        }
      }
    }
  }
}
