@import "../../../styles/base/variables.scss";
@import "../../../styles/utils/mixins.scss";

.container {
  @include container-center(1280px, 5.075rem auto 6.075rem auto);
  padding: 0 2.075rem;
  .title-section {
    font-size: $size-large;
    font-weight: $weight-medium;
    text-align: center;
  }
  .subtitle-section {
    font-size: $size-normal;
    font-weight: $weight-medium;
    line-height: 1.375rem;
    margin-bottom: 2.075rem;
    text-align: center;
  }
  .box-section {
    @include display-flex;
    gap: 3.075rem;
    .box {
      @include display-flex(flex-start, flex-start);
      background-color: #f3f4f9;
      border-radius: $radius-medium;
      flex-direction: column;
      padding: 2.075rem;
      width: 300px;
      height: 400px;
      .title {
        font-size: $size-extra-medium;
        font-weight: $weight-medium;
        margin-bottom: 0.875rem;
        line-height: 1.975rem;
      }
      .paragraph {
        color: $gray-color;
        font-size: $size-normal;
        font-weight: $weight-normal;
        line-height: 1.475rem;
      }
    }
  }
}
