@import "../../../styles/base/variables.scss";
@import "../../../styles/utils/mixins.scss";

.container {
  color: $white-color;
  height: 100vh;
  max-width: 100%;
  @media (min-width: 625px) and (max-width: 994px) {
    height: 145vh !important;
  }
  @media (max-width: 624px) {
    height: 140vh !important;
  }
  .box-section {
    @include display-flex(center, space-between);
    @include container-center(1380px);
    position: absolute;
    width: 100vw;
    top: 50%;
    left: 50%;
    padding: 0 2rem;
    transform: translate(-50%, -50%);

    @media (min-width: 625px) and (max-width: 994px) {
      @include display-flex(center, flex-start);
      flex-direction: column;
      margin-top: 13rem;
    }
    @media (max-width: 624px) {
      @include display-flex(center, flex-start);
      flex-direction: column;
      margin-top: 14rem;
    }

    .text-section {
      gap: 8px;
      .subtitle {
        font-weight: $weight-normal;
        font-size: $size-medium;
        margin-bottom: 1.5rem;
        @media (min-width: 625px) and (max-width: 994px) {
          font-size: $size-small;
        }
        @media (max-width: 624px) {
          font-size: $size-extra-small;
          margin-bottom: 1rem;
        }
      }

      .title {
        font-size: $size-extra-large;
        font-weight: $weight-bold;
        line-height: 3rem;
        margin-bottom: 2rem;
        @media (min-width: 625px) and (max-width: 994px) {
          font-size: $size-large;
          line-height: 3rem;
        }
        @media (max-width: 624px) {
          font-size: $size-extra-medium;
          line-height: 2.1rem;
          margin-bottom: 1rem;
        }
      }

      .paragraph {
        font-weight: $weight-light;
        font-size: $size-extra-small;
        margin-top: 1.5rem;
        @media (max-width: 994px) {
          font-size: $size-extra-small;
        }
      }
      .paragraph-details {
        font-size: $size-medium;
        font-weight: $weight-normal;
        line-height: 1.5rem;
        margin-bottom: 2rem;
      }
    }

    .form-section {
      background-color: $white-color;
      border-radius: $radius-medium;
      padding: 1.275rem 1.275rem;
      width: 400px;
      margin-top: 5.85rem;
      @media (max-width: 994px) {
        margin-top: 2.375rem;
        padding: 1.275rem 0.875rem;
        width: 310px;
      }
    }
  }
}
