.container {
  color: #fff;
  background: url("../../../assets/image/img/header-initial-opacity4.jpg") left
    center;
  background-size: cover;
  height: calc(100vh - 80px);
  max-width: 100%;

  .box-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;

    .text-section {
      gap: 8px;

      h6 {
        font-size: 1.275rem;
        margin-bottom: 24px;
        font-weight: 500;
      }

      h1 {
        font-size: 3.175rem;
        line-height: 3.675rem;
        font-weight: 700;
        margin-bottom: 40px;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
      }
    }

    .form-section {
      margin-top: 4rem;
      height: 600px;
      width: 400px;
      background-color: #fff;

      form {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
