@import "../../../styles/base/variables.scss";

.container {
  color: $white-color;
  background: url("../../../assets/image/img/header-initial.webp") left
    center;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  @media (max-width: 880px) {
    height: 130vh;
  }
  .box-section {
    padding: 0 2rem;
    position: absolute;
    width: 100vw;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1380px;
    @media (max-width: 880px) {
      margin-top: 10rem;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
    }

    .text-section {
      gap: 8px;
      .subtitle {
        font-size: $medium-large;
        font-weight: $normal;
        margin-bottom: 24px;
        @media (max-width: 1080px) {
          font-size: 1.025rem;
        }
      }

      .title {
        font-weight: $bold;
        font-size: 3.175rem;
        line-height: 3.2rem;
        margin-bottom: 2.5rem;
        @media (min-width: 800px) and (max-width: 1080px) {
          font-size: 2.8rem;
          line-height: 3rem;
        }
        @media (max-width: 800px) {
          font-size: 2.5rem;
          line-height: 2.8rem;
        }
      }

      .paragraph {
        font-weight: $light;
        font-size: $small;
        @media (max-width: 1080px) {
          font-size: 0.925rem;
        }
        @media (max-width: 800px) {
          font-size: 0.825re;
        }
      }
      .paragraph-details {
        font-size: 1.175rem;
        line-height: 1.6rem;
        font-weight: 500;
        margin-bottom: 2.5rem;
      }
    }

    .form-section {
      background-color: $white-color;
      border-radius: $radius-image;
      padding: 1.275rem 1.275rem;
      width: 400px;
      margin-top: 5.85rem;
      @media (max-width: 880px) {
        margin-top: 3.75rem;
      }
    }
  }
}
