@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.container {
  @include container-center(1280px, 4.875rem auto 5.075rem auto);
  padding: 0 2.075rem;
  @media (max-width: 880px) {
    flex-direction: column;
    margin: 0.075rem auto 2.575rem auto;
  }
  @media (min-width: 880px) and (max-width: 1280px) {
    font-size: $size-small;
  }
  .text-section {
    margin-bottom: 2.075rem;
    .title {
      font-size: $size-large;
      font-weight: $weight-medium;
      line-height: 2.575rem;
      margin-bottom: 1.075rem;
      @media (max-width: 880px) {
        font-size: 1.875rem;
        line-height: 2.075rem;
      }
      @media (min-width: 881px) and (max-width: 1280px) {
        font-size: $size-large;
        line-height: 2.475rem;
      }
    }
    .subtitle {
      font-size: $size-normal;
      font-weight: $weight-normal;
      color: $gray-color;
      line-height: 1.475rem;
      padding-right: 4.075rem;
      @media (max-width: 880px) {
        font-size: $size-small;
        line-height: 1.275rem;
      }
      @media (min-width: 880px) and (max-width: 1280px) {
        font-size: $size-small;
        line-height: 1.375rem;
      }
    }
  }
  .details-section {
    @include display-flex(flex-start, space-between);
    width: 100%;
    @media (max-width: 880px) {
      display: flex;
      flex-direction: column;
      margin-top: 2.075rem;
    }
    .box {
      @include display-flex(center, space-between);
      flex-direction: column;
      text-align: center;
      width: 100%;
      margin-bottom: 2.075rem;
      padding: 0 1.575rem;
      @media (max-width: 880px) {
        flex-direction: none;
      }
      .image-section {
        width: 205px;
        @media (max-width: 624px) {
          width: 100%;
        }
        @media (min-width: 625px) and (max-width: 880px) {
          width: 220px;
        }
        @media (min-width: 880px) and (max-width: 1280px) {
          width: 180px;
        }
      }
      .info-section {
        .title {
          font-size: $size-medium;
          font-weight: $weight-medium;
          margin-bottom: 0.375rem;
          @media (min-width: 880px) and (max-width: 1280px) {
            font-size: $size-normal;
          }
        }
        .subtitle {
          color: $gray-color;
          font-size: $size-normal;
          line-height: 1.475rem;
          @media (min-width: 880px) and (max-width: 1280px) {
            font-size: $size-small;
            line-height: 1.275rem;
          }
        }
      }
    }
  }
}
