@import '../../../styles/base/variables.scss';
@import '../../../styles/utils/mixins.scss';

.container {
  @include container-center(1180px, 3.075rem auto 5.075rem auto);
  padding: 0 2.075rem;
  .title {
    font-size: $size-large;
    font-weight: $weight-medium;
    border-bottom: 5px solid $blue-color;
    padding-bottom: 1.075rem;
    margin-bottom: 2.075rem;
  }
  .container-section {
    @include display-flex;
    .cards {
      display: grid;
      grid-template-areas:
        'a a b c'
        'a a d d';
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      width: calc(100% - 2em);
      grid-gap: 1.075rem;
      width: 100%;
    }
    .card {
      @include hover-pointer;
      position: relative;
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        display: block;
        content: '';
        padding-bottom: 47.36%;
        height: 0;
      }
      &.content {
        &:after {
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
          position: absolute;
          content: '';
          width: 100%;
          height: 50%;
          bottom: 0;
          left: 0;
        }
      }
      &:nth-child(1) {
        grid-area: a;
      }
      &:nth-child(2) {
        grid-area: b;
      }
      &:nth-child(3) {
        grid-area: c;
      }
      &:nth-child(4) {
        grid-area: d;
      }
      &-content {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
      }
      &-img {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        img {
          border-radius: $radius-medium;
          width: 100%;
          height: 100%;
        }
      }
      .img {
        border-radius: $radius-medium;
      }
      &-label {
        position: absolute;
        top: 0.45rem;
        left: 0.45rem;
        text-transform: uppercase;
        font-weight: $weight-medium;
        font-size: 0.675rem;
        color: $white-color;
        padding: 0.675em 0.575rem;
      }
      &-title {
        position: absolute;
        left: 1em;
        bottom: 1em;
        color: $white-color;
        font-weight: $weight-medium;
        font-size: $size-small;
        line-height: 1.275rem;
        z-index: 5;
      }
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        .card-label {
          border-radius: 5px;
          background: $blue-color;
        }
      }
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
      }
    }
  }
}
