@import "../../styles/base/variables.scss";
@import "../../styles/utils/mixins.scss";

.container {
  @include display-flex(flex-start, space-between);
  flex-direction: column;
  background-color: $light-blue;
  padding: 0 2.075rem;
  height: 100%;

  .icon {
    font-size: $size-medium;
    border: 1px solid red;
  }
  .form-section {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include display-flex(flex-start, space-between);
    flex-direction: column;

    .title {
      font-size: $size-extra-medium;
      font-weight: $weight-normal;
      line-height: 2.175rem;
    }
    .input-text {
      background-color: #EFF4FD;
      color: $black-color;
      font-size: $size-extra-large;
      font-weight: $weight-light;
      transition: border-bottom 0.3s ease;
      border-bottom: 1px solid $light-blue;
      margin-top: 1.775rem;
      padding: 7px 0;
      width: 100%;
      margin-bottom: 2.075rem;
      @media (max-width: 994px) {
        font-size: $size-small;
      }
      &:focus {
        border-bottom: 1px solid $black-color;
      }
    }
  }
}
