@import "../../../styles/base/variables.scss";
@import "../../../styles/utils/mixins.scss";

.container {
  @include container-center(1280px, 9.075rem auto 5.075rem auto);
  @include display-flex(flex-start, space-between);
  padding: 0 2.075rem;

  @media (max-width: 880px) {
    flex-direction: column;
    margin: 1.5075rem auto 2.575rem auto;
  }
  @media (min-width: 880px) and (max-width: 1280px) {
    font-size: $size-small;
  }
  .text-section {
    width: 100%;
    .title {
      font-size: $size-large;
      font-weight: $weight-medium;
      line-height: 2.575rem;
      margin-bottom: 1.075rem;
      @media (max-width: 880px) {
        font-size: 1.875rem;
        line-height: 2.075rem;
      }
      @media (min-width: 880px) and (max-width: 1280px) {
        font-size: $size-large;
      }
    }
    .subtitle {
      font-size: $size-normal;
      font-weight: $weight-normal;
      color: $gray-color;
      line-height: 1.475rem;
      @media (max-width: 880px) {
        font-size: $size-small;
        line-height: 1.275rem;
      }
      @media (min-width: 880px) and (max-width: 1280px) {
        ont-size: $size-small;
        line-height: 1.375rem;
      }
    }
  }
  .details-section {
    width: 100%;
    @media (max-width: 880px) {
      margin-top: 2.075rem;
    }
    .box {
      @include display-flex;
      margin-bottom: 2.075rem;
      @media (max-width: 624px) {
        display: block;
      }
      .image-section {
        color: $blue-color;
        margin-right: 1.575rem;
        width: 200px;
        @media (max-width: 624px) {
          width: 100%;
        }
        @media (min-width: 625px) and (max-width: 880px) {
          width: 130px;
        }
        @media (min-width: 880px) and (max-width: 1280px) {
          width: 150px;
        }
      }
      .info-section {
        .title {
          font-size: $size-medium;
          font-weight: $weight-medium;
          margin-bottom: 0.575rem;
          @media (min-width: 880px) and (max-width: 1280px) {
            font-size: $size-normal;
          }
        }
        .subtitle {
          color: $gray-color;
          font-size: $size-normal;
          line-height: 1.475rem;
          @media (min-width: 880px) and (max-width: 1280px) {
            font-size: $size-small;
          }
        }
      }
    }
  }
}
