@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.container {
  @include display-flex;
  padding: 5.575rem 2.075rem 0 0rem;
  gap: 2.575rem;
  @media (max-width: 880px) {
    flex-direction: column;
    margin: 3.575rem auto 3.275rem auto;
    gap: 1.075rem;
  }
  .image-section {
    width: 115%;
    .img {
      border-radius: 1px;
    }
  }
  .text-section {
    width: 85%;
    .subtitle {
      font-size: $size-normal;
      font-weight: $weight-medium;
      margin-bottom: 0.575rem;
      margin-top: 0;
      @media (max-width: 880px) {
        font-size: $size-normal;
        font-weight: 450;
      }
    }
    .title {
      font-size: $size-large;
      font-weight: $weight-medium;
      margin: 0rem 0 1.075rem 0;
      line-height: 2.675rem;
      @media (max-width: 880px) {
        font-size: $size-extra-medium;
        line-height: 2.075rem;
      }
    }
    .paragraph {
      font-size: $size-normal;
      font-weight: $weight-light;
      margin-bottom: 2.075rem;
      line-height: 1.475rem;
    }
  }
}
