@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.container {
  @include display-flex;
  flex-direction: column;
  .bg-blue {
    background-color: $blue-color;
    height: 200px;
    width: 100vw;
  }
  .box-container {
    background-color: $white-color;
    border-radius: $radius-small;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2.575rem 3.075rem;
    margin-top: -7.575rem;
    width: 31.075rem;
    @media (max-width: 624px) {
      width: 21.075rem;
    }
    .logo {
      width: 120px;
      margin-bottom: 0.975rem;
      border-radius: 1px;
    }
    .subtitle {
      font-size: $size-normal;
      font-weight: $weight-medium;
      line-height: 1.325rem;
      margin-bottom: 0.575rem;
    }
    .form-section {
      @include display-flex(flex-start, flex-start);
      flex-direction: column;
      .input {
        color: $black-color;
        font-size: $size-normal;
        font-weight: $weight-medium;
        transition: border-bottom 0.3s ease;
        border-bottom: 1px solid $gray-color;
        margin-top: 0.875rem;
        margin-bottom: 0.575rem;
        padding: 7px 0;
        width: 100%;
        @media (max-width: 994px) {
          font-size: $size-small;
        }
        &:focus {
          border-bottom: 1px solid $black-color;
        }
      }
    }
  }
}
.error {
  color: $red-color;
  font-weight: $weight-medium;
  font-size: 0.825rem;
}
.input-text-error {
  border-color: $red-color;
  &:focus {
    border-color: $red-color;
  }
}
