@import "../../styles/base/variables.scss";
@import "../../styles/utils/mixins.scss";

.container {
  @include container-center(1280px, 6.075rem auto);
  padding: 0 2.075rem;
  .title {
    font-size: $size-extra-medium;
    font-weight: $weight-medium;
    line-height: 2.075rem;
  }
  .subtitle {
    font-size: $size-normal;
    font-weight: $weight-medium;
    margin-bottom: 0.575rem;
    line-height: 2.075rem;
  }
}
