@import '../../../styles/themes/light.scss';
@import '../../../styles/themes/mixins.scss';

.container {
  @include container-center(1280px, 0 auto);
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 4.5rem;
  .title {
    font-size: $font-large;
    font-weight: $weight-medium;
    margin-bottom: 1rem;
    @media (max-width: 880px) {
      font-size: $font-medium;
    }
  }
  .paragraph {
    @include container-center(980px, 0 auto);
    text-align: center;
    font-size: $font-default;
    font-weight: $weight-medium;
    line-height: 1.2rem;
    margin-bottom: 2rem;
    @media (max-width: 880px) {
      font-size: $font-small;
    }
  }
}
