@import '../../../styles/base/variables.scss';
@import '../../../styles/utils/mixins.scss';

.modal {
  background-color: $white-color;
  color: $black-color;
  border-radius: $radius-medium;
  word-wrap: break-word;
  text-align: center;
  .modal-content {
    padding: 1.075rem 1.075rem 0rem 1.075rem;
    .title {
      font-size: $size-normal;
      font-weight: $weight-normal;
      margin-bottom: 1.075rem;
      line-height: 1.475rem;
    }
    .subtitle {
      font-size: $size-extra-medium;
      font-weight: $weight-bold;
      margin-bottom: 0.275rem;
    }
    .paragraph {
      font-size: $size-small;
      font-weight: $weight-normal;
      margin-bottom: 1.475rem;
      line-height: 1.275rem;
    }
    .icons-section {
      @include display-flex;
      gap: 1.575rem;
      margin: 1.075rem 0 2.475rem 0;
      .icon {
        background-color: $gray-light-color;
        color: $blue-strong-color;
        font-size: $size-extra-large;
        border-radius: 50%;
        padding: 0.775rem;
      }
    }
  }
}
