@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.container {
  @include container-center(1180px, 4.475rem auto 0 auto);
  position: relative;
  padding: 0 2.075rem;
  @media (max-width: 880px) {
    margin: 4.075rem auto 2.075rem auto;
  }
  .subtitle-section {
    color: $blue-color;
    font-size: $size-medium;
    font-weight: $weight-medium;
    text-align: center;
    margin-bottom: 0.675rem;
    @media (max-width: 800px) {
      font-size: $size-small;
    }
    @media (max-width: 624px) {
      font-size: $size-small;
      text-align: left;
    }
  }
  .title-section {
    font-size: $size-large;
    font-weight: $weight-bold;
    text-align: center;
    line-height: 2.775rem;
    margin-bottom: 1.375rem;
    @media (max-width: 624px) {
      font-size: $size-extra-medium;
      text-align: left;
      line-height: 2.175rem;
    }
    @media (min-width: 625px) and (max-width: 994px) {
      font-size: $size-extra-medium;
      line-height: 1.975rem;
    }
    @media (min-width: 995px) and (max-width: 1280px) {
      font-size: $size-large;
      line-height: 2.75rem;
    }
  }
  .custom-arrow-left {
    @include display-flex;
    @include hover-pointer;
    color: $blue-color;
    border: 1px solid $blue-color;
    position: absolute;
    transform: translateY(-50%);
    left: 20px;
    top: 65%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 2;
    display: none;
    &:hover {
      background-color: $blue-color;
      color: $white-color;
    }
    @media (max-width: 624px) {
      display: none;
    }
  }
  .custom-arrow-right {
    @include display-flex;
    @include hover-pointer;
    color: $blue-color;
    border: 1px solid $blue-color;
    position: absolute;
    transform: translateY(-50%);
    right: 20px;
    top: 65%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 2;
    display: none;
    &:hover {
      background-color: $blue-color;
      color: $white-color;
    }
    @media (max-width: 624px) {
      display: none;
    }
  }
  .carousel-section {
    @include container-center(1024px);
    .item {
      @include display-flex(flex-end, space-between);
      @include hover-pointer;
      border: 1px solid $blue-color;
      border-radius: $radius-medium;
      width: 280px;
      margin: 2.575rem 2.075rem 1.375rem 2.075rem;
      padding: 2.075rem 1.575rem;
      flex-direction: column;
      &:hover {
        transform: scale(1.1);
      }
      @media (min-width: 625px) and (max-width: 994px) {
        margin: 2.075rem 2.075rem 1.375rem 2.075rem;
      }
      @media (max-width: 624px) {
        margin: 1.075rem 0.075rem 1.375rem 0.075rem;
        width: 270px;
      }
      .title {
        font-size: $size-normal;
        font-weight: $weight-normal;
        margin-bottom: 0.675rem;
      }
      .subtitle {
        font-size: $size-small;
        font-weight: $weight-normal;
        line-height: 1.175rem;
      }
      .icon-section {
        @include hover-pointer;
        transition: transform 0.3s ease;
        text-align: right;
        margin-top: 1.375rem;
        .icon {
          color: $blue-color;
          font-size: $size-medium;
        }
      }
    }
    @media (max-width: 994px) {
      max-width: 340px;
      margin: 0 auto;
    }
    @media (min-width: 995px) and (max-width: 1280px) {
      max-width: 710px;
      margin: 0 auto;
    }
  }
}
